.login-page-container {
    background: #E6ECF0;
}

.login-form-container {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    width: auto;
    max-width: 865px;
    margin: auto;
    margin-top: 90px;
    padding: 20px;
}

.login-form-content {
    width: auto;
    max-width: 585px;
    margin: auto;
    text-align: left;
}

.loginpage-bird {
    width: 23px;
    height: 19px;
    float: left;
}

.nav-content {
    width: auto;
    min-width: 865px;
    margin: auto;
}
